# .NET build output
**/[Bb]in/
**/[Oo]bj/

# Visual Studio files
.vs/
*.user
*.userosscache
*.sln.docstates

# Visual Studio Code files
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# JetBrains Rider
.idea/
*.sln.iml

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio for Mac
.vscode/
.DS_Store

# NuGet
*.nupkg
# NuGet Symbol Packages
*.snupkg
# The packages folder can be ignored because of Package Restore
**/[Pp]ackages/*
# except build/, which is used as an MSBuild target.
!**/[Pp]ackages/build/

# Local History
.localhistory/

# Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.* 